<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hospipal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hospipal.Properties.Settings.ismacaul_HospiPalConnectionString"
            connectionString="server=s403g01.cpsc.ucalgary.ca;User Id=ismacaul_seng403;password=seng403;Persist Security Info=True;database=ismacaul_HospiPal"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Hospipal.Properties.Settings>
            <setting name="Role" serializeAs="String">
                <value>Employee</value>
            </setting>
        </Hospipal.Properties.Settings>
    </userSettings>
</configuration>